.underline {
  width: 6rem;
  height: 0.25rem;
  background: #d8f8dd;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5em;
}

.page-container {
  padding-top: 5em;
  padding-bottom: 1em;
  min-width: 320px;
  min-height: 100vh;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.page-container h1 {
  font-size: 2.5rem;
  line-height: 1.25;
  color: white;
  text-align: center;
}

.page-header {
  display: flex;
  flex-direction: row;
  margin: 1em auto;
  justify-content: center;
  max-width: 1400px;
}

.page-header-img {
  position: relative;
}

.btn-group .btn {
  position: absolute;
  top: 70%;
  left: 17%;
  background-color: black;
  color: white;
  font-size: 1em;
  font-weight: 700;
  padding: 10px 10px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
.btn-group .btn:hover {
  color: red;
}

@media screen and (max-width: 800px) {
  .page-header {
    flex-direction: column;
  }
}

.page-header-vid {
  display: flex;
  flex: 60%;
}

.page-header-img {
  display: flex;
  flex: 40%;
}

.page-header-img img {
  margin: 0;
  width: 100%;
  height: auto;
}

/* MoveList.js */
.input-container {
  display: flex;
  justify-content: center;
  background-color: black;
  flex-direction: column;
  margin: 0 auto;
  max-width: 700px;
  border: 1px solid #d8f8dd;
}

.input-container img {
  width: 50px;
  height: 50px;
}

/* About.js */
.about-content {
  margin: 0 auto;
  align-items: center;
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
}

.about-content img {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.about-content p {
  margin: 0.5em;
  color: white;
  font-size: 1.5em;
  font-weight: 700;
}

/* BackToTop.js */
.back-to-top {
  position: fixed;
  bottom: 0.5rem;
  right: 1rem;
  cursor: pointer;
}
