.underline {
  width: 6rem;
  height: 0.25rem;
  background: #d8f8dd;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5em;
}

.page-container {
  padding-top: 6em;
}

.page-container h1 {
  font-size: 2.5rem;
  line-height: 1.25;
  color: aliceblue;
  text-align: center;
}

.page-header {
  display: flex;
  flex-direction: row;
  margin: 1em auto;
  justify-content: center;
  max-width: 1400px;
}

@media screen and (max-width: 750px) {
  .page-header {
    flex-direction: column;
  }

  .page-header-img {
    max-height: 500px;
  }
}

.page-header-vid {
  display: flex;
  flex: 60%;
}

.page-header-img {
  display: flex;
  flex: 40%;
}

.page-header-img img {
  margin: 0;
  width: 100%;
  height: auto;
}

.button-container {
  display: flex;
  justify-content: center;
  background-color: black;
  flex-direction: column;
  margin: 0 auto;
  max-width: 700px;
  border: 1px solid #d8f8dd;
}
