.underline {
  width: 6rem;
  height: 0.25rem;
  background: #d8f8dd;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5em;
}

.page-container {
  padding-top: 5em;
  min-width: 320px;
}

.page-container h1 {
  font-size: 2.5rem;
  line-height: 1.25;
  color: aliceblue;
  text-align: center;
}

.page-header {
  display: flex;
  flex-direction: row;
  margin: 1em auto;
  justify-content: center;
  max-width: 1400px;
}

.page-header-img {
  position: relative;
}

.btn-group .btn {
  position: absolute;
  top: 77%;
  left: 27%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: black;
  color: #fff;
  font-size: 1em;
  font-weight: 700;
  padding: 10px 10px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
.btn-group .btn:hover {
  color: red;
}

@media screen and (max-width: 800px) {
  .page-header {
    flex-direction: column;
  }
}

.page-header-vid {
  display: flex;
  flex: 60%;
}

.page-header-img {
  display: flex;
  flex: 40%;
}

.page-header-img img {
  margin: 0;
  width: 100%;
  height: auto;
}

.input-container {
  /* MoveList.js */
  display: flex;
  justify-content: center;
  background-color: black;
  flex-direction: column;
  margin: 0 auto;
  max-width: 700px;
  border: 1px solid #d8f8dd;
}

.input-container img {
  width: 50px;
  height: 50px;
}
