.character-container {
  display: flex;
  justify-content: center;
  background-color: black;
  flex-direction: column;
  margin: 45px auto;
  max-width: 1200px;
  border: 1px solid #d8f8dd;
}

.icons-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card-character {
  text-align: center;
  margin: 1em;
  border: 1px solid #d8f8dd;
  overflow: hidden;
}

.card-character img {
  width: 5em;
  height: 5em;
  object-fit: cover;
}

.card-character img:hover {
  transform: scale(1.1);
  opacity: 0.75;
}

.card-character:hover {
  border: 1px solid red;
}

@media screen and (min-width: 950px) {
  .card-character img {
    height: 10em;
    width: 10em;
  }
}
